<p id="notice"><%= notice %></p>

<h1>Diaries</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Create</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @diaries.each do |diary| %>
      <tr>
        <td><%= diary.id %></td>
        <td><%= diary.title %></td>
        <td><%= diary.created_at %></td>
        <td><%= link_to '詳細', diary %></td>
        <td><%= link_to '編集', edit_diary_path(diary) %></td>
        <td><%= link_to '削除', diary, method: :delete, data: { confirm: '削除していいですか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<button>
<%= link_to '新規作成', new_diary_path %>
</button>
